html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
a{
    display: inline-block;
    text-decoration: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}