@import '_global';
@import '_vars';



// Start Header Top
.header__top{
    background-color: $white;

    &-inner{
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
}
.header__info{
    display: flex;
    align-items: center;
    &-btn{
        
        a{
            margin-right: 55px;
            padding: 10px 18px;
            border-radius: 25px;
            font-size: 14px;
            line-height: 14px;
            background-color: $blue;
            color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1); 
        }
    }
    
      
    &-user{
        display: flex;
        align-items: center;
        .avatar{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 20px;
        }

    }
}
.name{
    font-weight: 500;
    margin-bottom: 5px;
    color: $dg;
}
.price{
    color: $blue;
}


// end Header Top

// Start Header Bottom

.header__bottom{
    
    &-inner{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.menu__list{
    padding: 0;
    display: flex;
    li{
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;
        &+li{
            margin-left: 30px;
        }
    }
}

form{
    width: 360px;
    position: relative;
    input{
        display: block;
        width: 100%;
        border: 1px solid $gray;
        border-radius: 25px;
        padding: 14px 80px 14px 25px;
        font-size: 15px;
        &::placeholder{
            color: #898f96;
        }
        
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: $blue;
        width: 70px;
        height: 46px;
        border-radius: 25px;

    }
}

// end Header Bottom
// Start Search


.search{
    // background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.search__inner{
    padding: 175px 0 235px;
    text-align: center;
    &-title{
        font-size: 60px;
        line-height: 70px;
        span{
            font-weight: 700;
        }
        span::before{
            content: "\A";  
            white-space: pre;          
        }
    }
    &-text{
        font-size: 20px;
        font-weight: 500;
        margin-top: 30px;
    }
    &-btns{
        margin-top: 70px;
        display: flex;
        justify-content: center;
    }
}
.view-all a{
    color: $blue;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 18px 30px;
    border-radius: 36px;

}

.popular a{
    color: #fff;
    font-size: 16px;
    padding: 18px 30px;
    border: 1px solid #fff;
    border-radius: 36px;
    
}


.popular{
    margin-left: 30px;
}

// end Search

// Start Features

.features__inner{
    padding: 185px 0 120px;
    display: flex;
    justify-content: space-around;
    &-item{
        padding: 40px 30px 45px;
        margin: 0 15px;
        min-width: 360px;
        text-align: center;
        transition: all 1s;

        &-title{
            margin-top: 33px;
            font-size: 24px;
            color: #010101;
        }
        &-text{
            margin-top: 15px;
            font-size: 16px;
            line-height: 30px;
            color: #555555;

        }
    }
    &-item:hover{
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);     
    }
}

// end Features

// Start Products

.new-products{
    padding: 120px 0;
    background-color: $bglb;
}
.products__inner{
   

    &-wrapper{
        min-height: 110px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &-title{
        font-size: 30px;
    }
    &-btns{
        height: 92px;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        border-radius: 4px;
        background-color: #fff;
        padding-left: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

}
.btns__wrapper button{
    
    border: none;
    background-color: #f1f3f6;
    color: #747b86;
    padding: 8px 20px;
    border-radius: 17px;
    cursor: pointer;
    &+button{
        margin-left: 8px;
    }
}


.products__inner-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.product__item{
    max-width: 360px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;
    &-img{
        min-height: 230px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        transition: all .5s;
        &:hover{
            background-image: url(../images/content/item-hover.png) !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    &-content{
        padding: 28px 28px 30px;
        border-bottom: 1px solid #ececec;
    }
    &-title{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &-author{
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        .author{
            display: flex;
            align-items: center;
            margin-right: 18px;
            .avatar{
                height: 28px;
                width: 28px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                margin-right: 6px;
            }
        }
        .category{
            display: flex;
            align-items: center;
            &-icon{
                height: 15px;
                width: 15px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                margin-right: 8px;
            }
            span{
                color: #7347c1;
            }
        }
        
    }
    &-text{
        color: #555555;
        font-size: 16px;
        line-height: 30px;
    }

    &-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        &-main{
            display: flex;
            align-items: center;
        }
        .item__price{
            width: 60px;
            height: 30px;
            border-radius: 15px;
            text-align: center;
            padding: 7px 13px 7px;
            background-color: rgba(6, 116, 236, .102);
            color: $blue;
            font-weight: 500;
            margin-right: 15px;
        }
        .item__likes{
            color: #6f7d8d;
            padding-left: 22px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../images/icons/heart.png);
                height: 14px;
                width: 16px;
            }
        }
        .item__orders{
            color: $blue;
            padding-left: 25px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../images/icons/cart.png);
                height: 14px;
                width: 14px;
            }
        }
    }
}

.products__bottom-btn{
    text-align: center;
    & button{
        border: none;
        background-color: $blue;
        color: #fff;
        font-size: 16px;
        padding: 18px 28px;
        border-radius: 27px;
    }
}

// end Products
  
// Start Followers

.followers{
    background-color: $bggr;
}

.followers__inner{
    padding: 120px 0;
    position: relative;

}


.title-plate{
    margin-bottom: 50px;
    justify-content: space-between;
}
.slider-arrows{
    display: flex;
    border-radius: 23px;
    height: 45px; 
    width: 110px;
    background-color: $blue;

}

.prev-slide{
    width: 55px;
    border-radius: 23px 0 0 23px;
}

.next-slide{
    width: 55px;
    border-radius: 0 23px 23px 0;
}
.prev-slide,
.next-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        width: 8px;
        height: 14px;
    }
}

// end Followers

// start Achievements

.achievements{
    background-color: #212225;
}

.achievments__inner{
    padding: 95px 0;
    display: flex;
    justify-content: space-between;
}
.achievement__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-icon{
        margin-bottom: 40px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &-number{
        font-size: 36px;
        margin-bottom: 14px;
    }
    .item-sold &-number{
        color: #feb71d;
    }
    .item-sale &-number{
        color: #58c9e9;
    }
    .item-happy &-number{
        color: #77de51;
    }
    .item-members &-number{
        color: #ff6a6d;
    }
    &-text{
        color: #fff;
        font-size: 18px;
    }
}

// end Achievements