@import '_global';
@import '_vars';
@import '_fonts';



// Start Header Top

.header__top{
    background-color: $white;
    z-index: 3;
    &-inner{
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
}
.header__info{
    display: flex;
    align-items: center;
    &-btn{
        
        a{
            margin-right: 50px;
            padding: 11px 18px;
            border-radius: 25px;
            font-size: 14px;
            line-height: 14px;
            background-color: $blue;
            color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1); 
        }
    }
    
      
    &-user{
        display: flex;
        align-items: center;
        height: 100px;
        .avatar{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 20px;
        }
    }
}
.name{
    font-weight: 500;
    margin-bottom: 5px;
    color: $dg;
}
.price{
    color: $blue;
}
.header__top-menu{
    display: flex;
    font-size: 15px;
    color: #676767;
    & li + li{
        margin-left: 20px;
    }
}
.header__top-left{
    display: flex;
    align-items: center;
    .header__top-menu{
        margin-left: 80px;
    }
}
.header__info-icons{
    font-size: 20px;
    font-family: 'Linearicons-Free';
    padding-right: 45px;
    color: #7e8fa1;
    display: flex;
    & .icon{
        line-height: 100px;
    }
    // .icon + .icon{
    //     margin-left: 25px;
    // }

}

.header__circle{
    position: relative;
    height: 100%;
    padding: 0 15px;
    span{
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        color: #fff;
        min-width: 22px;
        height: 22px;
        padding: 0 5px;
        text-align: center;
        border-radius: 11px;
        line-height: 22px;
        top: 26px;
        left: 26px;
    }
}

.header__circle{
    &.lnr-alarm{
        span{
            background-color: #ff6a6c;
        }
    }
    &.lnr-envelope{
        span{
            background-color: #62d03b;
        }
    }
    &.lnr-cart{
        span{
            background-color: #0674ec;
        }
    }
}
// .alarm__box{
//     span:first-child{
        
//     }
// }
// .message__box{
//     span:first-child{
//         background-color: #62d03b;
//     }
// }
// .cart__box{
//     span:first-child{
//         background-color: #0674ec;
//     }
// }
.icon__menu{
    position: absolute;
    z-index: 2;
    top: 100px;
    right: -20px;
    line-height: 21px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 400;
    &.drop-down__menu{
        padding: 0;
        width: 370px;
    }
    &-head{
        display: flex;
        justify-content: space-between;
        padding: 25px 30px 20px 22px;
    }
    &-title{
        font-size: 18px;
        color: #000;
    }
    &-link{
        color: $blue;
    }


    &-item{
        display: flex;
        padding: 20px 30px 15px 22px;
        border-top: 1px solid #e8ebf0;
        &:hover{
            background-color: #f8fafb;
        }
        &.active{
            .icon__menu-time,
            .lnr-envelope,
            .lnr-exit-up{
                color: $blue;
            }
        }
    }
    &-content{
        margin-left: 10px;
        width: 100%;
    }
    &-sender{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
    }
    &-name{
        display: flex;
        font-size: 16px;
        color: #333;
        padding-right: 27px;
        position: relative;
        .lnr-envelope,
        .lnr-exit-up{
            position: absolute;
            font-family: 'Linearicons-Free';
            top: 0;
            right: 0;
        }
    }
    &-time{
        font-size: 14px;
    }
    &-text{
        color: #555;
    }
    
}
.alarm__box .icon__menu{
    &-content{
        max-width: 215px;
    }
    &-item{
        padding: 15px 30px 11px 22px;
    }
    &-sender{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
    }
    &-name{
        margin-bottom: 5px;
        display: block;
        font-size: 16px;
        padding-right: 0;
        width: 100%;
        &-action{
            color: #747a86;
        }
        &-item{
            color: $blue;
        }
        

    }
    &-icon-circle{
        width: 32px;
        position: relative;
        margin-left: 21px;
        &::before{
            
            display: flex;  
            align-items: center;
            justify-content: center;
            font-family: 'Linearicons-Free';
            position: absolute;
            top: 50%;
            right: auto;
            transform: translateY(-50%);
            width: 32px;
            height: 32px;
            
            border-radius: 16px;
            font-size: 15px;
        }
        &.heart{
            &::before{
                content: "\e813";
                background-color: rgba($blue, 0.1);
                color: $blue;
            }
        }
        &.bubble{
            &::before{
                content: "\e83f";
                background-color: rgba($purple, 0.1);
                color: $purple;
            }
        }
        &.cart{
            &::before{
                content: "\e82e";
                background-color: rgba($red, 0.1);
                color: $red;
            }
        }
        &.star{
            &::before{
                content: "\e814";
                background-color: rgba($green, 0.1);
                color: $green;
            }
        }
    }
}



.cart__box .icon__menu{
    border-radius: 0 0 4px 4px;
    &.drop-down__menu{
        width: 400px;
    }
    &-item{
        border-bottom: 1px solid #e8ebf0;
        border-top: none;
        padding: 20px 25px 15px 22px;
    }
    &-content{
        max-width: 190px;
    }
    &-name{
        color: #000;
        font-weight: 500;
        padding-right: 0;
    }
    &-text{
        color: $purple;
        font-size: 15px;
        padding-left: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-image: url(../images/icons/wp.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            top: 2px;
            left: 0;
            width: 17px;
            height: 17px;
        }
    }
    &-total{
        padding: 25px;
        height: 70px;
        color: #000;
        display: flex;
        justify-content: flex-end;
        font-weight: 500;
        font-size: 18px;

    }
    &-btns{
        display: flex;
    }
    &-btn{
        width: 50%;
        text-align: center;
        line-height: 60px;
        a{
            width: 100%;
            height: 100%;
            color: #fff;
            font-weight: 400;
        }
    }
    &-btn.to-cart{
        background-color: $purple;
        border-radius: 0 0 0 4px;
        &:hover{
            opacity: .9;
        }
    }
    &-btn.to-checkout{
        background-color: $blue;
        border-radius: 0 0 4px 0;
        &:hover{
            opacity: .9;
        }
    }

    &-details{
        width: 50px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-trash{
        font-family: 'Linearicons-Free';
        font-size: 15px;
        width: 32px;
        height: 32px;
        background-color: rgba($purple, .1);
        border-radius: 16px;
        margin-bottom: 10px;
        text-align: center;
        &::before{
            line-height: 32px;
        }
    }
    &-price{
        font-weight: 500;
        font-size: 16px;
        color: $blue;
        background-color: rgba($blue, .1);
        padding: 5px 10px;
        border-radius: 15px;
    }
}


// end Header Top

// Start Header Bottom

.header__bottom{
    background-color: #fff;
    &-inner{
        z-index: 2;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.menu__list{
    padding: 0;
    display: flex;
    position: relative;
    & > li{
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 80px;
        
        a{
            font-weight: 500;
        }
        &+li{
            margin-left: 30px;
        }
    }
}

.drop-down{
    position: relative;
    &:hover {
        .drop-down__menu{
            display: block;
        }
        & > a{
            color: $blue;
        }

    }
    .user__triangle{
        position: absolute;
        top: -9px;
        right: 30px;
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-bottom: 9px solid $blue;
    }
}

.drop-down__menu{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid $blue;
    width: 270px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-radius: 0 0 4px 4px;
    
    li{
        line-height: 21px;
        & a{
            width: 100%;
            
            text-transform: none;
            font-size: 15px;
            border-radius: 2px;
        }
        & a:hover{
            background-color: $blue;
            color: #fff;
        }
    }
    li + li{
        margin-left: 0;
    }
}

.menu__list-drop{
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
    a{
        padding: 13px 9px;
    }
    
    
   
}
.header__info-user{
    & .menu__list-user-drop{
        top: 100px;
        right: 0;
        z-index: 1;
        a{
            padding: 13px 0 13px 40px;
        }
        
    }
    .menu__list-item {
        position: relative;
        &::before{
            position: absolute;
            font-family: 'Linearicons-Free';
            font-size: 15px;
            color: #54667a;
            left: 10px;
        }
        &:hover:before{
            color: #fff;
        }
    }
}
.menu__list-pages{
    &:hover {
        .pages__megamenu{
            display: flex;
        }
        & > a{
            color: $blue;
        }

    }
}

.pages__megamenu{
    display: none;
    justify-content: space-between;
    padding: 30px 25px;
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 1140px;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-radius: 0 0 4px 4px;
    border-top: 1px solid $blue;
    z-index: 2;
}
.megamenu__col{
    line-height: 21px;
    & + &{
        margin-left: 35px;
    }
    &-title{
        font-size: 16px;
        color: #000;
        padding: 15px 0;
        border-bottom: 1px solid #e8ebf0;
        margin-bottom: 15px;
        text-transform: none;
        font-weight: 500;
        width: 100%;
    }
    &-list{
        color: #54667a;
        & a{
            margin: 3px 0;
            padding: 10px 0;
            width: 100%;
            text-transform: none;
            font-size: 15px;
            border-radius: 2px;
            &:hover{
                color: $blue;
            }
        }
        &.martplace-pages,
        &.other-pages{
            columns: 2;
            column-gap: 35px;
            column-width: 200px;
        }
        &.other-pages{
            column-gap: 20px;
        }
    }
    &.martplace{
        min-width: 435px;
    }
    &.dashboard{
        min-width: 165px;
    }
}




















.header__search{
    form{
        width: 360px;
        position: relative;
        input{
            display: block;
            width: 100%;
            border: 1px solid $gray;
            border-radius: 25px;
            padding: 14px 80px 14px 25px;
            font-size: 15px;
            &::placeholder{
                color: #898f96;
            }
            
        }
        button{
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background-color: $blue;
            width: 70px;
            height: 46px;
            border-radius: 25px;

        }
    }
}



// end Header Bottom
// Start Search


.search{
    // background-color: $blue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.search__inner{
    padding: 175px 0 235px;
    text-align: center;
    position: relative;
    &-title{
        font-size: 60px;
        line-height: 70px;
        span{
            font-weight: 700;
        }
        span::before{
            content: "\A";  
            white-space: pre;          
        }
    }
    &-text{
        font-size: 20px;
        font-weight: 500;
        margin-top: 30px;
    }
    &-btns{
        margin-top: 70px;
        display: flex;
        justify-content: center;
    }
}
.view-all a{
    color: $blue;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 18px 30px;
    border-radius: 36px;

}

.popular a{
    color: #fff;
    font-size: 16px;
    padding: 18px 30px;
    border: 1px solid #fff;
    border-radius: 36px;
    
}


.popular{
    margin-left: 30px;
}



.main-search{
    position: absolute;
    bottom: -65px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    padding: 40px;
    width: 100%;
    &-bg-1{
        height: 135px;
        left: 15px;
        width: 1110px;
        bottom: -50px;
        opacity: 50%;
    }
    &-bg-2{
        height: 135px;
        left: 30px;
        width: 1080px;
        bottom: -35px;
        opacity: 50%;
    }
    
    
}
.form-selector{
    display: flex;
    justify-content: space-between;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    width: 805px;
    color: #676767;
    font-size: 16px;

    input{
        padding: 18px 20px ;
        border: none;
        outline: none;
        width: 100%;
        border-radius: 4px;
    }
    select{
        border: none;
        outline: none;
    }
}

.drop-down__categories {
    position: relative;
    float: left;
    display: flex;
    border-left: 1px solid #dcdcdc;
}

.drop-down__categories:after {
    content: '';
    background-image: url(../images/icons/arrow-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 8px;
    width: 13px;
    padding: 15px 0px 0px 8px;
    position: absolute;
    pointer-events: none;
    top: 20px;
    right: 20px;
}

.drop-down__categories select {
    appearance: none;
    padding: 0px 70px 0 24px;
    @include text;
    border-radius: 4px;
}



.main-search{

    form{
        width: 807px;
        position: relative;
        display: flex;
        
        button{
            position: absolute;
            border: none;
            font-size: 16px;
            background-color: $blue;
            color: #fff;
            padding: 18px 69px;
            top: 0;
            right: -252px;
            border-radius: 4px;
        }
    
    }
}




// end Search

// Start Features

.features__inner{
    padding: 185px 0 120px;
    display: flex;
    justify-content: space-around;
    &-item{
        padding: 40px 30px 45px;
        margin: 0 15px;
        min-width: 360px;
        text-align: center;
        transition: all 1s;

        &-title{
            margin-top: 33px;
            font-size: 24px;
            color: #010101;
        }
        &-text{
            margin-top: 15px;
            @include text;

        }
    }
    &-item:hover{
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);     
    }
}

// end Features

























// Start Week-products



.week{
    padding: 120px 0;
    background-color: #eff1f5;
}

.week__inner{
    position: relative;

}


.title-plate{
    margin-bottom: 50px;
    justify-content: space-between;
}
.slider-arrows{
    display: flex;
    border-radius: 23px;
    height: 45px; 
    width: 110px;
    background-color: $blue;

}

.prev-slide__week{
    width: 55px;
    border-radius: 23px 0 0 23px;
}

.next-slide__week{
    width: 55px;
    border-radius: 0 23px 23px 0;
}
.prev-slide__week,
.next-slide__week{
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        width: 8px;
        height: 14px;
    }
}

.product__item.product__item-slider{
    margin-right: 30px;
}































.week-products__item{
    display: flex !important;
    flex-direction: row;
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;
}

.week-products__item-img{
    display: block;
    width: 555px;
    min-height: 450px ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .5s;
    border-radius: 4px 0 0 4px;
    &:hover{
        background-image: url(../images/content/item-hover.png) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
}



.week-products__item-content{
    display: flex;  
    flex-direction: column;
    width: 585px;
    padding: 45px 45px 0 45px;
    border-bottom: 1px solid #ececec;
}
.week-products__item-title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}


.week-products__item-author{
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    .author{
        display: flex;
        align-items: center;
        margin-right: 18px;
        .avatar{
            height: 28px;
            width: 28px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-right: 6px;
        }
    }
    .category{
        display: flex;
        align-items: center;
        &-icon{
            height: 15px;
            width: 15px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-right: 8px;
        }
        span{
            color: #7347c1;
        }
    }
    
}



.week-products__item-text{
    @include text;
    margin-bottom: 35px;
}
.week-products__item-categories{
    display: flex;
    margin-bottom: 45px;
    .item{
        padding: 6px 15px;
        font-size: 15px;
        color: #868c96;
        background-color: #f1f3f6;
        border-radius: 14px;
        & + .item{
            margin-left: 7px;
        }
    }

}

.week-products__item-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ececec;
    padding: 24px 0;
    &-main{
        display: flex;
        align-items: center;
    }
    .item__price{
        font-weight: 500;
        font-size: 15px;
        border-radius: 15px;
        text-align: center;
        padding: 7px 19px 7px;
        background-color: $blue;
        color: #fff;
        font-weight: 500;
        margin-right: 15px;
    }
    .item__likes{
        color: #6f7d8d;
        padding-left: 22px;
        padding-right: 15px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../images/icons/heart.png);
            height: 14px;
            width: 16px;
        }
    }
    .item__orders{
        color: $blue;
        padding-left: 25px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../images/icons/cart.png);
            height: 14px;
            width: 14px;
        }
    }
}



// end Week-products








// Start Products

.new-products{
    padding: 120px 0;
    background-color: $bglb;
}
.products__inner{
   

    &-wrapper{
        min-height: 110px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        padding: 0 30px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &-title{
        font-size: 30px;
    }
    &-btns{
        height: 92px;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        border-radius: 4px;
        background-color: #fff;
        padding-left: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

}
.btns__wrapper button{
    
    border: none;
    background-color: #f1f3f6;
    color: #747b86;
    padding: 8px 20px;
    border-radius: 17px;
    cursor: pointer;
    &+button{
        margin-left: 8px;
    }
}


.products__inner-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.product__item{
    max-width: 360px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;
    &-img{
        min-height: 230px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        transition: all .5s;
        &:hover{
            background-image: url(../images/content/item-hover.png) !important;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    &-content{
        padding: 28px 28px 30px;
        border-bottom: 1px solid #ececec;
    }
    &-title{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &-author{
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        .author{
            display: flex;
            align-items: center;
            margin-right: 18px;
            .avatar{
                height: 28px;
                width: 28px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                margin-right: 6px;
            }
        }
        .category{
            display: flex;
            align-items: center;
            &-icon{
                height: 15px;
                width: 15px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                margin-right: 8px;
            }
            span{
                color: #7347c1;
            }
        }
        
    }
    &-text{
        @include text;
    }

    &-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px;
        &-main{
            display: flex;
            align-items: center;
        }
        .item__price{
            width: 60px;
            height: 30px;
            border-radius: 15px;
            text-align: center;
            padding: 7px 13px 7px;
            background-color: rgba(6, 116, 236, .102);
            color: $blue;
            font-weight: 500;
            margin-right: 15px;
        }
        .item__likes{
            color: #6f7d8d;
            padding-left: 22px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../images/icons/heart.png);
                height: 14px;
                width: 16px;
            }
        }
        .item__orders{
            color: $blue;
            padding-left: 25px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image: url(../images/icons/cart.png);
                height: 14px;
                width: 14px;
            }
        }
    }
}

.products__bottom-btn{
    text-align: center;
    & button{
        border: none;
        background-color: $blue;
        color: #fff;
        font-size: 16px;
        padding: 18px 28px;
        border-radius: 27px;
    }
}

// end Products
  
// Start Followers

.followers{
    background-color: $bggr;
}

.followers__inner{
    padding: 120px 0;
    position: relative;

}


.title-plate{
    margin-bottom: 50px;
    justify-content: space-between;
}
.slider-arrows{
    display: flex;
    border-radius: 23px;
    height: 45px; 
    width: 110px;
    background-color: $blue;

}

.prev-slide{
    width: 55px;
    border-radius: 23px 0 0 23px;
}

.next-slide{
    width: 55px;
    border-radius: 0 23px 23px 0;
}
.prev-slide,
.next-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        width: 8px;
        height: 14px;
    }
}

.product__item.product__item-slider{
    margin-right: 30px;
}



// end Followers

// start Achievements

.achievements{
    background-color: #212225;
}

.achievments__inner{
    padding: 95px 0;
    display: flex;
    justify-content: space-between;
}
.achievement__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-icon{
        margin-bottom: 40px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &-number{
        font-size: 36px;
        margin-bottom: 14px;
    }
    .item-sold &-number{
        color: #feb71d;
    }
    .item-sale &-number{
        color: #58c9e9;
    }
    .item-happy &-number{
        color: #77de51;
    }
    .item-members &-number{
        color: #ff6a6d;
    }
    &-text{
        color: #fff;
        font-size: 18px;
    }
}

// end Achievements

// Start Choose

.choose{
    padding: 110px 0 120px;
    &__title{
        font-size: 36px;
        text-align: center;
        margin-bottom: 25px;
        span{
            color: $blue;
        }
    }
    &__text{
        text-align: center;
        margin: 0 auto;
        max-width: 685px;
        margin-bottom: 55px;
        @include text;
    }
}

.choose__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.choose__item{
    max-width: 360px;
    min-height: 370px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    text-align: center;
    position: relative; 
    &-num{
        position: absolute;
        font-size: 48px;
        font-weight: 300;
        top: 14px;
        left: 17px; 
        color: $blue;
        opacity: .2;
    }
    &-icon{
        margin-top: 55px;
        margin-bottom: 45px;
    }
    &-title{
        font-size: 24px;
        margin-bottom: 20px;
        padding: 0 24px;
    }
    &-text{
        @include text;
        padding: 0 24px;
    }
}



// end Choose

// Start two-action

.action__inner{
    display: flex;
    justify-content: center;
}
.bg1{
    background-image: url(../images/bg-half.jpg);
}
.bg2{
    background-image: url(../images/bg-half-2.jpg);
}
.action__item{
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 560px;
    width: 100%;
    text-align: center;
    padding: 100px 0;
    &-icon{
        margin-bottom: 40px;
    }
    &-title{
        font-size: 36px;
        margin-bottom: 20px;
        color: #fff;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
        max-width: 590px;
        margin: 0 auto;
        color: #fff;
        margin-bottom: 40px;
    }
    &-btn a{
        padding: 19px 27px;
        font-size: 16px;
        background-color: #fff;
        color: $blue;
        border-radius: 27px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    }
}


  

// end two-action

// Start Feedback

.feedback{
    padding: 110px 0 120px;
    &__title{
        font-size: 36px;
        margin-bottom: 20px;
        text-align: center;
        span{
            color: $blue;
        }
    }
    &__text{
        @include text;
        margin-bottom: 60px;
        max-width: 690px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}
.feedback__inner{
    display: flex;
    justify-content: space-between;
}

.feedback__item{
    max-width: 555px;
    min-height: 315px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    padding: 50px 40px;
    position: relative;
    border-left: 2px solid $blue;
    margin-bottom: 60px;
    &-icon{
        position: absolute;
        top: 55px;
        right: 40px;
    }
    &-user{
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        .avatar{
            height: 80px;
            width: 80px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 15px;
        }

    }
    .name{
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 20px;
    }
    .occupation{
        @include text;
    }
    &-text{
        @include text;
    }
   
}

.feedback__btn{
    text-align: center;
}

.feedback__btn a{
    padding: 19px 35px;
    font-size: 16px;
    background-color:  $blue;
    color: #fff;
    border-radius: 28px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

// end Feedback


// Start News
.news{
    background-color: #eff1f5;
}
.news__inner{
    padding-top: 115px;
    padding-bottom: 120px;
}
.news__title{
    @include header;
    margin-bottom: 25px;
    text-align: center;
    span{
        color: $blue;
    }
}
.news__text{
    @include text;
    text-align: center;
    max-width: 680px;
    padding-bottom: 60px;  
    margin: 0 auto;
}
.news__content{
    display: flex;
    justify-content: space-between;
    transition: all .5s;
    .product__item{
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    }
    .product__item:hover{
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}

// end News


// Start support

.support__items{
    display: flex;
    justify-content: center;
}
.support__item{
    padding-top: 60px;
    padding-bottom: 55px;
    max-width: 570px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    & + .support__item{
        border-left: 1px solid #e8eaf3;
    }
}
.support__item-icon{
    width: 150px;
    height: 130px;
    margin-bottom: 20px;
}
.support__item-text{
    font-size: 24px;
}

// end support


// Start Join

.join{
    background-image: url(../images/join-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 110px;
    color: #fff;
    text-align: center;
}
.join__title{
    font-size: 36px;
    margin-bottom: 15px;
}
.join__text{
    font-size: 18px;
    margin-bottom: 45px;
}
.join__btn{
    a{
        font-size: 16px;
        background-color: #fff;
        color: $blue;
        padding: 19px 43px 19px;
        border-radius: 28px;
    }
}


// end Join



// Start Footer


.footer__content{
    background-color: #262b30;
    padding-top: 110px;
    padding-bottom: 120px;
    color: #ababab;
    font-size: 15px;
    ul li a{
        color: #ababab;

    }
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__col{
    max-width: 270px;
    &-social{
        max-width: 360px;
    }
    &-logo{
        margin-bottom: 27px;
    }
    &-title{
        margin-top: 18px;
        margin-bottom: 30px;
        font-size: 18px;
        color: #fff;
    }
    &-text{
        line-height: 28px;
        margin-bottom: 25px;
    }
    &-list li{
        & + li{
            margin-top: 15px;
        }
    }
}
.footer__col-info{
    color: #ababab;
    line-height: 26px;
    font-size: 15px;
}

.footer__col-info-phone{
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
    &::before{
        content: "\e830";
        position: absolute;
        left: 0;
        font-family: 'Linearicons-Free';
        font-size: 16px;
        color: #fff;
    }
}
.footer__col-info-email{
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
    &::before{
        content: "\e818";
        position: absolute;
        left: 0;
        font-family: 'Linearicons-Free';
        font-size: 16px;
        color: #fff;
    }
}
.footer__col-info-adress{
    position: relative;
    padding-left: 28px;
    margin-bottom: 10px;
    &::before{
        content: "\e833";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Linearicons-Free';
        font-size: 16px;
        color: #fff;
    }
}

.footer__search{
    form{
        max-width: 360px;
        position: relative;
        margin-bottom: 48px;
        input{
            display: block;
            width: 100%;
            border: 1px solid $gray;
            border-radius: 25px;
            padding: 14px 125px 14px 25px;
            font-size: 15px;
            outline: none;
            &::placeholder{
                color: #ababab;
            }
            
        }
        button{
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            background-color: $blue;
            border-radius: 25px;
            font-size: 15px;
            color: #fff;
            padding: 15px 30px;
            cursor: pointer;
        }
    }
}

.footer__col-social-icon {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    font-size: 15px;
    color: #fff;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    & + &{
        margin-left: 9px;
    }
}

.icon-facebook{
    background-color: #395799;
}
.icon-twitter{
    background-color: #19b2f5;
}
.icon-google{
    background-color: #f05b44;
}
.icon-pinterest-p{
    background-color: #9c0c1c;
}
.icon-linkedin{
    background-color: #0da6be;
}
.icon-dribbble{
    background-color: #ea4c89;
}

.footer__copy{
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #192027;
    text-align: center;
    color: #999999;
    font-size: 15px;
    span{
        color: #fff;
    }
}









// end Footer