@import '_global';
@import '_vars';

.header__top{
    background-color: $white;

    &-inner{
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
}
.header__info{
    display: flex;
    align-items: center;
    &-btn{
        
        a{
            margin-right: 55px;
            padding: 10px 18px;
            border-radius: 25px;
            font-size: 14px;
            line-height: 14px;
            background-color: $blue;
            color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1); 
        }
    }
    
      
    &-user{
        display: flex;
        align-items: center;
        .avatar{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 20px;
        }

    }
}
.name{
    font-weight: 500;
    margin-bottom: 5px;
    color: $dg;
}
.price{
    color: $blue;
}
